<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<cache>
		<enabled>false</enabled>
	</cache>
	<database>
		<host>10.0.75.2</host>
		<username>root</username>
		<password>root</password>
		<database_name>Tifa</database_name>
		<table_prefix/>
	</database>
	<design>
		<theme>tifa</theme>
		<package>default</package>
		<fallback>
			<theme>tifa</theme>
			<package>dark</package>
		</fallback>
		<enable_internal_override>true</enable_internal_override>
		<add_template_paths_to_html_comments>true</add_template_paths_to_html_comments>
	</design>
	<style>
		<add_css_paths_to_css_comments>true</add_css_paths_to_css_comments>
		<add_js_paths_to_js_comments>true</add_js_paths_to_js_comments>
	</style>
</settings>
