* {
	box-sizing: border-box;
}
body, html {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #F3F3F3;
}

.wrapper{
	max-width: 1080px;
	width: 100%;
	background-color: #e3e3e3;
	padding:  0 30px;
	margin: 0 auto;
	height: 100%;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	min-height: 1080px;
}


.inner{
	padding-top: 30px;
}
.inner h1{
	margin-top: 0;
}

.inner p span a{
	color: #1e90ff;
	text-decoration: none;
	cursor: pointer;
}
.inner p span a:hover {
	color: #1eb9e8;
}