footer{
	min-height: 100px;
	background-color: #434343;
	min-width: 100%;
	float: left;
}
footer div{
	max-width: 1080px;
	margin: 0 auto;
}
footer div.f-left{
	color: white;
	width: 50%;
	margin: 15px 0;
}

footer div.f-left:first-child{
	border-right: 1px solid white;
}

footer ul{
	margin: 0;
	list-style: none;
}